.attack-view {
  position: absolute;
  width: 100%;
  height: 100%;

  .attack-panel {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 25%;
    background-color: @panel-color;
    opacity: 0.88;
  }
}
