body {
  font-family: "Open Sans";
}
a {
  color: white;
  text-decoration: none;
}

#preload {
  display: none;
}

.board-view, #preload {
  background-color: green;
  // background-image: url('../graphics/board.png');
  background-size: contain;
}

.board-view {
  margin-left: auto;
  margin-right: auto;
  .over-board-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
