body {
  font-family: "Open Sans";
}
a {
  color: white;
  text-decoration: none;
}

#preload {
  display: none;
}

.board-view, #preload {
  background-image: url('../graphics/board.png');
  background-size: contain;
}
