body {
  font-family: "Open Sans";
  background: black;
}

a {
  color: white;
  text-decoration: none;
}

#preload {
  display: none;
}

.board-view, #preload {
  // background-color: green;
  background-image: url('../graphics/board.png');
  background-size: contain;
}

.board-view {
<<<<<<< Updated upstream
=======
  margin-left: auto;
  margin-right: auto;

>>>>>>> Stashed changes
  .over-board-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
