mixin piece(args)
  - var phantom = args.phantom ? ' phantom' : ''
  - var color = args.piece.side === 0 ? 'red' : args.piece.side === 1 ? 'blue' : 'black'
  - var rankAndColor = args.piece.rank + '-' + color

  - var p = args.piece
  .piece(data-rank=p.rank, data-side=p.side, class=('image-' + rankAndColor) + (phantom))
  if p.rank !== 'B' && p.rank !== 'F' && p.rank !== 'U'
    .piece-rank(data-rank=p.rank, class=('image-rank-' + rankAndColor) + (phantom))

  if args.deadPiece
    - var dp = args.deadPiece
    .dead-piece-rank(data-rank=dp.rank, class='image-' + (dp.rank === 'B' || dp.rank === 'F' ? '' : 'rank-') + (dp.rank + '-' + (dp.side === 0 ? 'red' : 'blue')))
