.attack-panel.dialog-panel
  .attacker
    .vertical-align.piece(data-rank='3', data-side='1')
  .middle
    span.vertical-align.versus VS
  .attackee
    .vertical-align.piece(data-rank='?', data-side='0')
