| App by 
a(href="http://www.benl.com.au") Ben L
br
br
a(href="https://github.com/benletchford/stratego.io") Github Repository
br
| Pieces from 
a(href="http://vector.gissen.nl/stratego.html") vector.gissen.nl
